- var path = 'assets/';
- var img_path = path + 'images';

- 
	var pagelist = {
		home: {
			title:"芝信用金庫100周年記念サイト",
			description: "2025年6月に創立100周年を迎える芝信用金庫は、これまでの歩みを支えてくださった皆様に、感謝とこれからの想いをお伝えするために、100周年記念サイトを公開いたします。",
			//- keywords: '',
			//- og: {
			//- 	site_name:"キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	title:"キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	description: "2025年6月に創立100周年を迎える芝信用金庫は、これまでの歩みを支えてくださった皆様に、感謝とこれからの想いをお伝えするために、100周年記念サイトを公開いたします。",
			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/",
			//- 	locale: "ja_JP",
			//- 	type: "website"
			//- }
		},
		message: {
			title: "芝信用金庫100周年記念サイト｜ごあいさつ",
			description: "2025年6月に創立100周年を迎える芝信用金庫が今、抱く想いを理事長からのメッセージとしてお伝えします。",
			//- keywords: '',
			//- og: {
			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	title: "芝信用金庫100周年記念サイト｜ごあいさつ",
			//- 	description: "2025年6月に創立100周年を迎える芝信用金庫が今、抱く想いを理事長からのメッセージとしてお伝えします。",
			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/",
			//- 	locale: "ja_JP",
			//- 	type: "article"
			//- }
		},
		history: {
			title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
			description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
			//- keywords: '',
			//- og: {
			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
			//- 	locale: "ja_JP",
			//- 	type: "article"
			//- }
		},
		now: {
			title: "芝信用金庫100周年記念サイト｜しばしんの今",
			description: "2025年6月に創立100周年を迎える芝信用金庫が今、取り組むさまざまなことについてご紹介いたします。",
			//- keywords: '',
			//- og: {
			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	title: "芝信用金庫100周年記念サイト｜しばしんの今",
			//- 	description: "2025年6月に創立100周年を迎える芝信用金庫が今、取り組むさまざまなことについてご紹介いたします。",
			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/support/",
			//- 	locale: "ja_JP",
			//- 	type: "article"
			//- }
		},
		//- now: {
		//- 	title: "芝信用金庫100周年記念サイト｜",
		//- 	description: "2025年6月に創立100周年を迎える芝信用金庫。これまでの歩みを支えてくださった地域のお客様に、しばしんとの思い出やこれから芝信用金庫に期待することを語っていただきました。",
		//- 	keywords: '',
		//- 	og: {
		//- 		site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
		//- 		title: "芝信用金庫100周年記念サイト｜",
		//- 		description: "2025年6月に創立100周年を迎える芝信用金庫。これまでの歩みを支えてくださった地域のお客様に、しばしんとの思い出やこれから芝信用金庫に期待することを語っていただきました。",
		//- 		url: "https://www.nttdata-mhis.co.jp/recruit/careers/support/",
		//- 		locale: "ja_JP",
		//- 		type: "article"
		//- 	}
		//- },
		//- now: {
		//- 	title: "芝信用金庫100周年記念サイト｜",
		//- 	description: "2025年6月に創立100周年を迎える芝信用金庫。大きな節目を迎える今、職員たちが抱くこれからのしばしんや地域のお客様についての想いを聞いてみました。",
		//- 	keywords: '',
		//- 	og: {
		//- 		site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
		//- 		title: "芝信用金庫100周年記念サイト｜",
		//- 		description: "2025年6月に創立100周年を迎える芝信用金庫。大きな節目を迎える今、職員たちが抱くこれからのしばしんや地域のお客様についての想いを聞いてみました。",
		//- 		url: "https://www.nttdata-mhis.co.jp/recruit/careers/support/",
		//- 		locale: "ja_JP",
		//- 		type: "article"
		//- 	}
		//- },
		//- now: {
		//- 	title: "芝信用金庫100周年記念サイト｜",
		//- 	description: "2025年6月に創立100周年を迎える芝信用金庫。100周年を記念してマスコットキャラクター「しばわん」と「しばさくら」のダウンロードコンテンツをご用意しました。",
		//- 	keywords: '',
		//- 	og: {
		//- 		site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
		//- 		title: "芝信用金庫100周年記念サイト｜",
		//- 		description: "2025年6月に創立100周年を迎える芝信用金庫。100周年を記念してマスコットキャラクター「しばわん」と「しばさくら」のダウンロードコンテンツをご用意しました。",
		//- 		url: "https://www.nttdata-mhis.co.jp/recruit/careers/support/",
		//- 		locale: "ja_JP",
		//- 		type: "article"
		//- 	}
		//- },
	}
