
//- サイト共通のjsファイル
//- script(src=path+"js/main.js")
//- script(src=path+"js/jquery.js")
//- script(src=path+"js/midnight.jquery.min.js")
//- script.
//- 	//- is-current
//- 	const headerNavLink = document.querySelectorAll('.js-current');
//- 	headerNavLink.forEach((targetLink) => {
//- 			const linkPath = new URL(targetLink.href).pathname;
//- 			// location.pathnameがlinkPathを含んでいるかをチェック
//- 			if (location.pathname.includes(linkPath) && linkPath !== '/') {
//- 					targetLink.classList.add('is-current');
//- 			}
//- 	});