//- -------------------------------------------------------------------
//- footer
//- -------------------------------------------------------------------
.ly_footer
	.ly_cont
		.bl_footerNav
			.bl_footerNav_item
				a.bl_footerNav_link(href="https://www.shibashin.jp/sitepolicy/", target="_blank")
					|サイト利用について
					+icon_external
			.bl_footerNav_item
				a.bl_footerNav_link(href="https://www.shibashin.jp/privacy/", target="_blank")
					|個人情報保護について
					+icon_external
			.bl_footerNav_item
				a.bl_footerNav_link(href="https://www.shibashin.jp/", target="_blank")
					|コーポレートサイト
					+icon_external
		small.bl_footerCopyright.hp_en
			|&copy; The Shiba Shinkin Bank All rights reserved.