//- about -------------------------------------------------------------------------
mixin other-parts
	section.un_other
		.un_other_inner
			.un_other_figure.hp_filter
				img(src=img_path+"/common/banner.webp", alt="")
			.un_otherConts
				h2.un_other_ttl
					|芝信用金庫の
					br
					|マスコットキャラクターの
					br
					|壁紙をダウンロード！！
				//- ボタン
				a.el_btn.-more.hp_en.hp_noHover(href=link_path+"")
					span VIEW MORE
					+icon_arrow