//- -------------------------------------------------------------------
//- RECRUIT INFO
//- -------------------------------------------------------------------
mixin parts-recruit__common
	section.l-recruitInfo.-home
		a.l-recruitInfo__inner(href=link_path+"info/")
			.c-lv2heading
				h2.c-lv2heading__title(data-word="RECRUIT INFO")
					|採用情報
			.c-circle__wrap
				.c-circle
					+icon-arrow
